/* custom-buttons.css */
.custom-button {
    background-color: #72B261 !important;
    color: white;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #83B348 !important; /* Ensure hover color is applied */
  }
  
  .custom-button:focus {
    box-shadow: none !important; /* Remove default ring effect */
  }
  